@import url('https://fonts.googleapis.com/css2?family=Geist:wght@400;500;600&family=Inter:wght@400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --font-display: "Inter", system-ui, sans-serif;
  --font-body: "Geist", system-ui, sans-serif;
  --font-ui: ui-sans-serif, system-ui, sans-serif;
}

body {
  min-height: 100vh;
  background-image:
    radial-gradient(
      ellipse 55% 65% at top,
      #0d0f15 0%,
      #0d0f15 30%,
      #121522 75%,
      transparent 120%
    ),
    radial-gradient(ellipse at center, #0d0f15 0%, #262049 90%);
  background-attachment: fixed;
}
